.nav-bar > header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-bar {
  width: 100%;
}

.nav-bar-items {
  display: flex;
  list-style: none;
  gap: 10px;
}

.logo {
  margin: auto 0;
}

.logo img {
  width: 10em;
}

.navbar-item {
  padding: 20px;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-item:hover {
  background-color: #000;
  color: #fff;
}

.mobile-menu {
  display: none;
}

.nav-bar {
  border-bottom: 3px solid grey;
}

@media screen and (768px >=width) {
  .navbar-item {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .logo img {
    width: 5em;
  }
}
