* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  margin: 0;
  background: #fff;
}

#c18 {
  width: 100%;
  margin: 0;
}

#c18 img {
  width: 100%;
  object-fit: contain;
}

#skills > main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
}

progress {
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: fit-content 1fr 1fr;
  grid-template-rows: fit-content repeat(6, 1fr);
  gap: 1em;
}

form > div {
  padding-bottom: 1rem;
}
form > div > input[type="text"] {
  width: 100%;
}

#meet {
  grid-column: 1 / span 2;
}

#info {
  grid-column: 1 / span 2;
}
#info > textarea {
  width: 100%;
}
#newsletter {
  grid-column: 1 / span 2;
}

.block {
  display: block;
  font-weight: bold;
}

.padding {
  padding: 1rem 10rem;
}

@media screen and (768px >=width) {
  #skills > main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .padding {
    padding: 1rem 2rem;
  }

  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #meet {
    grid-column: 1;
  }

  #info {
    grid-column: 1;
  }

  #newsletter {
    grid-column: 1;
  }
}

.container-img {
  position: relative;
  display: inline-block;
}

.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: var(--main-brand-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.overlay-button:hover {
  background-color: var(--main-brand-color-light);
}
