* {
  box-sizing: border-box;
}

footer > div.social-buttons > ul {
  display: flex;
  justify-content: center;
  column-gap: 3em;
  height: 100px;
  background-color: aquamarine;
  align-items: center;
}

iframe {
  width: 100%;
  height: 30em;
}

#projects,
#video {
  padding: 2em;
}

#projects > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
figure {
  margin: 0;
}
